<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Publik</title>
  </head>
  <body class="bg-[#FAF9F6]">
    <header class="flex items-center justify-between h-24 text-slate-700 mx-72">
      <p class="text-3xl select-none font-black">PUBLIK</p>
      <ul class="flex justify-center items-center gap-4 text-lg">
        <li>
          <a
            class="font-semibold p-3 hover:bg-black hover:text-slate-100 rounded-md transition-colors duration-500 ease-in-out"
            href="/platform"
          >
            Plataforma
          </a>
        </li>
        <li>
          <a
            class="font-semibold p-3 hover:bg-black hover:text-slate-100 rounded-md transition-colors duration-500 ease-in-out"
            href="/pricing"
          >
            Preços
          </a>
        </li>
        <li>
          <a
            class="font-semibold p-3 hover:bg-black hover:text-slate-100 rounded-md transition-colors duration-500 ease-in-out"
            href="/about"
          >
            Sobre
          </a>
        </li>
        <li>
          <a
            class="font-semibold bg-blue-300 text-slate-800 p-3 rounded-md hover:bg-black hover:text-slate-100 transition-colors duration-500 ease-in-out"
            href="/login"
          >
            Seja um criador
          </a>
        </li>
        <li>
          <a
            class="font-semibold border-[1px] border-slate-400 p-3 rounded-md hover:bg-black hover:text-slate-100 transition-colors duration-500 ease-in-out"
            href="/login"
          >
            Sign Up
          </a>
        </li>
      </ul>
    </header>

    <main class="mx-72">
      <section
        class="flex justify-end gap-28 items-center mt-36 bg-slate-100 p-8 rounded-md animate-appear duration-1000"
      >
        <div>
          <h3 class="text-slate-900 font-black text-4xl">
            Seu <strong class="text-pink-500">hoje</strong> em suas mãos
          </h3>
          <p class="text-slate-900 font-medium">
            Trabalhe de casa no seu próprio ritmo
          </p>

          <button
            class="bg-blue-400 py-3 px-11 rounded-md text-white font-bold text-lg mt-4 hover:bg-black transition-colors duration-500 ease-in-out"
          >
            Entre Grátis
          </button>
        </div>
        <div
          class="max-h-[550px] w-[600px] overflow-hidden flex flex-wrap justify-center gap-2"
        >
          <img
            class="w-[260px] h-[260px] -skew-x-12 overflow-hidden"
            src="images/makeup-1.jpg"
            alt="Garrafa com suco de laranja."
          />

          <img
            class="w-[260px] h-[260px] -skew-x-12 overflow-hidden"
            src="images/review-1.jpg"
            alt="Garrafa com suco de laranja."
          />

          <img
            class="w-[260px] h-[260px] skew-x-12 overflow-hidden"
            src="images/review-2.jpg"
            alt="Garrafa com suco de laranja."
          />

          <img
            class="w-[260px] h-[260px] skew-x-12 overflow-hidden"
            src="images/makeup-2.jpg"
            alt="Garrafa com suco de laranja."
          />
        </div>
      </section>

      <section class="flex justify-center items-center mt-32 mb-32">
        <div class="flex bg-[#0f0f0f] p-9 relative rounded-md">
          <span
            class="font-bold text-4xl absolute left-2 top-2 text-slate-400/90"
          >
          "
          </span>
          <h4 class="text-lg max-w-[850px] w-full text-slate-300 text-justify">
            Somos uma empresa especializada em UGC, dedicada a
            <span class="bg-pink-500 px-1 text-black font-bold rounded-sm">
              impulsionar seu crescimento pessoal
            </span>
            nas redes sociais. Nossa missão é facilitar a conexão entre empresas
            e influencers, proporcionando um ambiente colaborativo e de
            benefício mútuo. Além disso, oferecemos suporte para te ajudar a
            identificar e engajar seu público-alvo, maximizando seu impacto e
            alcance nas plataformas digitais.
          </h4>
        </div>
      </section>
    </main>
  </body>
</html>
