<!doctype html>
<html>
  <head>
    <title>Ok Page</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <h1>Its Ok!</h1>
    <p>EJS by: <strong>{{myname}}</strong></p>
  </body>
</html>
